.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffc107;
    padding: 10px;
    text-align: center;
    
    .footer-icons {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;  // Increase icon size
      color: #333;  // Adjust color
    }
  }
  .cursor{
    cursor: pointer;
  }